.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 6px;
}

.black-bg{
    -fx-background-color: #000;
}

.left-form-bg-bg{
    -fx-background-color: linear-gradient(to bottom right, #8504c6, #5d06c4);
}

.textfield-1{
    -fx-background-color: transparent;
    -fx-border-color: #bd07eb;
    -fx-border-width: 0px 0px .8px 0px;
    -fx-font-size: 13px;
    -fx-font-family: Tahoma;
}

.textfield-1:focused{
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-border-width: 0px 0px 1.5px 0x;
}

.login-btn{
    -fx-background-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;    
    -fx-font-family: Arial;
}

.login-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #11a7c9, #2765a4);
}

.close-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close-btn:hover{
    -fx-background-color: #ff0000;
}