.white-bg{
	-fx-background-color:#fff;
}

.text-field{
	-fx-background-color: transparent;
	-fx-border-color: #858d9d;
	-fx-border-radius: 8px;	
	-fx-text-fill: #2b2f38;	
	-fx-font-size: 14px;
	-fx-font-family: "Inter Medium";
}

.blue-bg{
	-fx-background-color:#0f50aa;
}


.table-view .column-header {
    -fx-background-color: #E8F1FD;
    -fx-font-weight: normal;
    -fx-padding: 5px 10px;
    -fx-text-fill: #5D6679;
	-fx-font-size: 14px;
	-fx-font-family: "Inter-Medium";
	-fx-alignment:center-left;
}

.table-column {
    -fx-background-color: #FFFFFF;	
    -fx-font-weight: normal;
    -fx-text-fill: #5D6679;
	-fx-font-size: 12px;
	-fx-font-family: "Inter-Medium";
	-fx-alignment:center;	
	-fx-border-width: 0px;

}

.table-row-cell{
	-fx-background-color: transparent;
	-fx-text-fill: #5D6679;
	-fx-font-size: 12px;
	-fx-font-family: "Inter-Medium";
	-fx-alignment:center;	
	-fx-border-width: 0.8px 0px 0.8px 0px;
	-fx-border-color: #E2E8F0;
}
.table-row-cell:selected {
	-fx-background-color: #F36960;
	
}
.table-view {
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-border-color: lightgrey;
	
}	

.button{
	-fx-background-color: #1570EF;
	-fx-background-radius:8px;
	-fx-text-fill:#fff;
	-fx-font-size:14px;
	-fx-font-family:"Inter Medium";
	-fx-border-color: #1570EF;
	-fx-border-radius:8px;
	-fx-border-width:1px;
}