.white-bg{
	-fx-background-color: white;
}


.pain{
	-fx-background-color: #F6F8FB;
	-fx-background-radius:  10px 10px 0px 0px;
	-fx-border-color:  #E8F1FD;
	-fx-border-radius:  10px 10px 0px 0px;
	-fx-opacity: 1;
}

.check-box{
	-fx-background-color:transparent;
	-fx-text-fill: #5D6679;
	-fx-font-family:"Inter";
	-fx-font-weight: 630;	
	-fx-alignment:center;
	-fx-cell-size: 30px;
	-fx-font-size: 14px;
}

.check-box .box{
	-fx-background-color:transparent;
	-fx-border-color: #E2E8F0;
	-fx-border-width: 1.5px;
	-fx-border-radius: 3px;
}

.search-text-field{
	-fx-background-color:transparent;	
	-fx-border-color:#D0D3D9;
	-fx-border-radius:8px;
	-fx-border-width:1px;
	-fx-padding:0px 0px 0px 30px;
	-fx-font-size: 16px;
	-fx-font-family:"Inter";
	-fx-font-weight: 630;
	-fx-alignment:center-left;
}