.top-form{
	-fx-background-color: #fff;
	-fx-border-color: #000;
	-fx-border-width: .4px .4px .3px .4px;
}

.nav-form{
	-fx-background-color: #fff;
}

.nav-btn{
	-fx-background-color:transparent;
	-fx-cursor: hand;	
	-fx-text-fill: #000;
	-fx-font-size: 15px;
	-fx-font-family: "Arial";
	-fx-alignment:center-left;
}

.nav-btn:hover{
	-fx-background-color:#629ff4;
}

.logout-btn{
	-fx-background-color: #6a5fff;
	-fx-background-radius:20px;
	-fx-cursor:hand;
}

.logout-btn:hover{
	-fx-background-color: #629ff4
}

.radius{
    -fx-background-radius: 10px;
}

.white-bg{
    -fx-background-color: #fff;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.close-btn{
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.close-btn:hover{
	-fx-background-color:#e03f5a;
}

.minimize-btn{
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.minimize-btn:hover{
	-fx-background-color: #ddd;
}