
.icon {
	-fx-fill: white;
	-fx-stroke: #5D6679;
	-fx-stroke-width: 1;
	-fx-cursor: hand;
}


.selected-icon {
	-fx-fill: white;
	-fx-stroke: #1366D9;
	-fx-stroke-width: 0.8;
}

.logo {
	-fx-text-fill: #1366D9;
	-fx-font-size: 30px;
	-fx-font-family: "Inter Heavy";
	-fx-font-weight: 900;
}

.selected-pane {
	-fx-background-color: #E8F1FD;
	-fx-background-radius: 10;
}

.pane {
	-fx-background-color: white;
	-fx-background-radius: 10;
}

.first-text {
	-fx-text-fill: #858D9D;
	-fx-font-size: 14px;
	-fx-font-family: "Inter-Regular";
}

.second-text {
	-fx-text-fill: #5D6679;
	-fx-font-size: 16px;
	-fx-font-family: "Inter-Medium";
}

.third-text {
	-fx-text-fill: #1366D9;
	-fx-font-size: 26px;
	-fx-font-family: "Inter-SemiBold";
}

.normal-text {
	-fx-text-fill: #5D6679;
	-fx-font-size: 16px;
	-fx-font-family: "Inter-Medium";
}

.type-room-text {
	-fx-text-fill: #5D6679;
	-fx-font-size: 22px;
	-fx-font-family: "Inter-SemiBold";
}

.money-room-text {
	-fx-text-fill: #1366D9;
	-fx-font-size: 30px;
	-fx-font-family: "Inter-SemiBold";
}

.number-payment-text {
	-fx-text-fill: #1366D9;
	-fx-font-size: 16px;
	-fx-font-family: "Inter-SemiBold";
	-fx-background-color: #B6E9D1;
	-fx-background-radius: 4;
	-fx-label-padding: 0.0 10 0.0 10;
	-fx-fill: #0D824B;
}

.selected-btn{
	-fx-background-color: #e8f1fd;
	-fx-background-radius: 8px;
	-fx-text-fill: #1366D9;
	-fx-font-size: 16px;
	-fx-font-family: "Inter-Medium";
	-fx-alignment:center-left;
}

.unselected-btn{
	-fx-background-color:transparent;
	-fx-background-radius: 8px;
	-fx-text-fill: #5D6679;
	-fx-font-size: 16px;
	-fx-font-family: "Inter-Medium";	
	-fx-alignment:center-left;	
}
.white-bg{
	-fx-background-color: white;
}


.table-view .column-header {
    -fx-background-color: #E8F1FD;
    -fx-font-weight: normal;
    -fx-padding: 5px 10px;
    -fx-text-fill: #5D6679;
	-fx-font-size: 14px;
	-fx-font-family: "Inter-ExtraBold";
	-fx-alignment:center-left;
}

.table-column {
    -fx-background-color: #FFFFFF;	
    -fx-font-weight: normal;
    -fx-text-fill: #5D6679;
	-fx-font-size: 12px;
	-fx-font-family: "Inter-ExtraBold";
	-fx-alignment:center-left;	
	-fx-border-width: 0px;
}

.table-row-cell{
	-fx-background-color: transparent;
	-fx-text-fill: #5D6679;
	-fx-font-size: 14px;
	-fx-font-family: "Inter-Medium";
	-fx-alignment:center;	
	-fx-border-width: 0.8px 0px 0.8px 0px;
	-fx-border-color: #E2E8F0;
}
.table-row-cell:selected {
	-fx-background-color: #F36960;	
	-fx-border-width: 0.8px 0px 0.8px 0px;
	-fx-border-color: #0F50AA;	
}
.table-view {
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-border-color: lightgrey;
	
}	

.table-view .column-header .label {
	-fx-text-fill: #5D6679;
	-fx-font-size: 17px;
	-fx-font-family: "Inter-ExtraBold";
	-fx-alignment:baseline-left;
	-fx-padding: 0 0 0 -10px;
}
.check-box{
	-fx-background-color:transparent;
	-fx-text-fill: #5D6679;
	-fx-font-family:"Inter";
	-fx-font-weight: 630;	
	-fx-alignment:center;
	-fx-cell-size: 30px;
	-fx-font-size: 14px;
}

.check-box .box{
	-fx-background-color:transparent;
	-fx-border-color: #E2E8F0;
	-fx-border-width: 1.5px;
	-fx-border-radius: 3px;
}

.search-text-field{
	-fx-background-color:transparent;	
	-fx-border-color:#D0D3D9;
	-fx-border-radius:8px;
	-fx-border-width:1px;
	-fx-padding:0px 0px 0px 30px;
	-fx-font-size: 16px;
	-fx-font-family:"Inter";
	-fx-font-weight: 630;
	-fx-alignment:center-left;
}

.button-control{
	-fx-font-size: 14px;
	-fx-font-family:"Inter Medium";
	-fx-font-weight: 900;
	-fx-alignment:center;
	-fx-cell-size: 30px;	
	-fx-border-width: 1.5px;
	-fx-border-radius: 8px;
	-fx-background-radius: 8px;
}
	