
.header-pain {
	-fx-background-color: #F7F9FC;
	-fx-background-radius: 10px 10px 0px 0px;
	-fx-border-color: #E8F1FD;
	-fx-border-radius: 10px 10px 0px 0px;	
}

.button {
	-fx-text-fill: #5D6679;
	-fx-font-size: 14px;
	-fx-font-family: "Inter-Medium";
	-fx-alignment:center;
	-fx-background-radius: 20;
	-fx-background-color: white;
	-fx-border-color: #989FAD;
	-fx-border-radius: 20;
}

.button-design{
	-fx-background-color: E8F1FD;
	-fx-background-radius: 100;
	-fx-border-color: 1570EF;
	-fx-border-radius:100;
	-fx-font-size: 12px;
}

.selected-button {
	-fx-pref-width: 120;
	-fx-pref-height: 40;
	-fx-text-fill: #1570EF;
	-fx-font-size: 14px;
	-fx-font-family: "Inter-Medium";
	-fx-alignment:center;
	-fx-background-radius: 20;
	-fx-background-color: #E8F1FD;
	-fx-border-color: #1570EF;
	-fx-border-radius: 20;
}

.order-button{
	-fx-background-color: #E8F1FD;
    -fx-font-weight: normal;
    -fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-font-family: "Inter-Medium";
	-fx-alignment:center;
	-fx-background-radius: 5;
	-fx-background-color: #1e90ff;
	-fx-border-color: #1570EF;
	-fx-border-radius: 5;
}