.white-bg{
	-fx-background-color: white;
}


.button{
	-fx-background-color: #1570EF;
	-fx-background-radius:8px;
	-fx-text-fill:#fff;
	-fx-font-size:14px;
	-fx-font-family:"Inter Medium";
	-fx-border-color: #1570EF;
	-fx-border-radius:8px;
	-fx-border-width:1px;
}