.header-pain{
	-fx-background-color: #E8F1FD;
	-fx-background-radius: 10px 10px 0px 0px;
	-fx-border-color: #E8F1FD;
	-fx-border-radius: 10px 10px 0px 0px;
}

.header-text{
	-fx-text-fill: #000;
	-fx-font-weight: bold;
}

.pane{
	-fx-background-color: #ffff;
	-fx-background-radius: 10px;
	-fx-border-color: #E8F1FD;
	-fx-border-radius: 10px;
	
}

.selected-btn{
	-fx-background-color: #E8F1FD;
	-fx-text-fill: #1366D9;
	-fx-font-size: 13px;
	-fx-font-family: "Inter-Medium";
	-fx-font-weight: bold;
	-fx-alignment:center;
	-fx-background-radius: 100;
	-fx-border-color: #1570EF;
	-fx-border-radius: 100;
}

.unselected-btn{
	-fx-background-color:transparent;
	-fx-text-fill: #5D6679;
	-fx-font-size: 13px;
	-fx-font-weight: bold;
	-fx-font-family: "Inter-Medium";	
	-fx-alignment:center;	
	-fx-background-radius: 100;
	-fx-border-color: #989FAD;
	-fx-border-radius: 100;
}