


.button {
	-fx-text-fill: #5D6679;
	-fx-font-size: 14px;
	-fx-font-family: "Inter-Medium";
	-fx-alignment:center;
	-fx-background-radius: 5;
}

.disable-button {
	-fx-text-fill: #5D6679;
	-fx-font-size: 14px;
	-fx-font-family: "Inter-Medium";
	-fx-alignment:center;
	-fx-background-radius: 10;
}
.header-pain {
	-fx-background-color: #F7F9FC;
	-fx-background-radius: 10px 10px 0px 0px;
	-fx-border-color: #E8F1FD;
	-fx-border-radius: 10px 10px 0px 0px;	
}